/*FONTS: 
*/

@font-face {
    font-family: 'Montserrat';
    src: url(./text-styles/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat Thin';
    src: url(./text-styles/Montserrat/Montserrat-Thin.ttf);
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url(./text-styles/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'Montserrat Italic';
    src: url(./text-styles/Montserrat/Montserrat-MediumItalic.ttf);
}

@font-face{
    font-family: 'Ostrich Sans';
    src: url(./text-styles/ostrich-sans-master/OstrichSans-Bold.otf);
}

@font-face{
    font-family: 'Lato Bold';
    src: url(./text-styles/Lato/Lato-Light.ttf);
}

@font-face{
    font-family: 'Lato Bold Bold';
    src: url(./text-styles/Lato/Lato-Regular.ttf);
}

@font-face{
    font-family: 'Lato';
    src: url(./text-styles/Lato/Lato-Thin.ttf);
}

@font-face{
    font-family: 'Lato Italic';
    src: url(./text-styles/Lato/Lato-ThinItalic.ttf);
}

/*COLORS: 
Text: #272727
Background: #FFFFFF
Main Color: #7B9EA8
Accent: #B0F2B4
#bae7bd;
*/

body{
    background-color: #FFFFFF;
    color: #272727;
}

/* TEXT 
Logo: .logo
Titles: .title, mark
Text: .text, .subtitle
Caption: .caption
Nav: .nav-text, .nav-text-here
*/

a {
    text-decoration: none;
    color: inherit;
    font-style: italic;
    font-weight: bold;
}

mark {
    background-color: #ffffff;
    color: #818181;
    border-radius: 8px;
}

mark:hover {
    background-color: #bae7bd;
    transition: 0.3s;
}

.logo{
    font-family: 'Ostrich Sans';
    font-size: 30px;
    color: #272727;
}

.title{
    font-family: 'Montserrat';
    font-size: 60px;
    color: #272727;
    margin-bottom: 40px;
}

.about-title{
    font-family: 'Montserrat';
    font-size: 60px;
    color: #272727;
    margin-bottom: 40px;
    text-align: left;
}

.index-title{
    font-family: 'Montserrat';
    font-size: 70px;
    color: #272727;
    text-align: left;
    margin-bottom: 0.5em;
}

.subtitle{
    font-family: 'Lato Bold';
    font-size: 26px;
}

.text{
    font-family: 'Lato';
    font-size: 20px;
}

.text-small{
    font-family: 'Lato';
    font-size: 18px;
}

.index-text{
    color: #a8ccd6;
    font-family: 'Montserrat Bold';
    font-size: 55px;
    text-align: right;
    margin-top: 0.5rem;
}

.header-text{
    color: #a8ccd6;
    font-family: 'Montserrat Bold';
    font-size: 35px;
    text-align: left;
    margin-top: 0.5rem;
}

.header-text-2{
    color: #a8ccd6;
    font-family: 'Montserrat Bold';
    font-size: 26px;
    text-align: left;
    margin-top: 0.5rem;
}

.standout-text{
    color: #272727;
    font-family: 'Montserrat Bold';
    font-size: 22px;
    text-align: left;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #a8ccd6;
    background-color: #bae7bd;
}

.standout-text2{
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ffffff;
}

.header-text-htc{
    color: #272727;
    font-family: 'Montserrat Bold';
    font-size: 25px;
    text-align: left;
    margin-top: 1.5rem;
}

.name-text{
    color: #a8ccd6;
    font-family: 'Montserrat Bold';
    font-size: 55px;
    text-align: right;
    margin-top: 0.5rem;
}

.project-text{
    font-family: 'Lato';
    font-size: 20px;
}

.story-project-text{
    font-family: 'Lato';
    font-size: 18px;
}

.sub-htc{
    font-family: 'Lato';
    font-size: 16px;
}

figcaption {
    font-family: 'Lato';
    font-size: 16px;
    text-align: center;
    font-style: italic;
}

.caption{
    font-family: 'Lato Italic';
    font-size: 16px;
    text-decoration: none;
}

.nav-text{
    font-family: 'Lato Italic';
    font-size: 18px;
    text-decoration: none;
    color: #272727;
    cursor: pointer;
    padding: 4px;
    border-radius: 8px;
}

.nav-text-here{
    font-family: 'Lato Bold';
    font-size: 18px;
    text-decoration: none;
    color: #272727;
    background-color: #ffffff;
    padding: 4px;
    border-radius: 8px;
    
}

.nav-text-here:hover{
    background-color: #bae7bd;
    color: #272727;
    transition: 0.3s;
}

.nav-text:hover{
    background-color: #bae7bd;
    transition: 0.3s;
}

.about-nav{
    font-family: 'Lato Bold';
    font-size: 18px;
    text-decoration: none;
    color: #0F0F0F;
    margin: 10px;
    padding: 4px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8px;
}

#about-nav-here{
    font-family: 'Lato Italic';
    font-size: 19px;
    text-decoration: none;
    color: #272727;
    margin: 10px;
    padding: 4px;
    cursor: pointer;
    border: 1px solid #272727;
    border-radius: 8px;
}

.about-tabs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }


/* CONTEXT DIVS 
Header: .header, .logo-wrapper, .menu-wrapper
Footer: .footer, .icon-wrapper, .contact-icon, .spacer

Baisc Wrapper: .wrapper
Project grid: .project-wrapper-left, .project-wrapper-right, .alt-project-wrapper

Full Text: .text-center
Image left: 
Image right:
Full Image: .full-image

Image/caption: 
*/

.header{
    width: 90%;
    height: 200px;
    margin-left: 5%;
    margin-right: 5%;
}

.logo-wrapper{
    width: 80px;
    margin-top: 60px;
    margin-left: 7%;
    margin-bottom: auto;
    float: left;
    text-align: center;
}

.logo-image{
    width: 40px;
    height: 40px;
}

.menu-wrapper{
    width: 100px;
    height: 50px;
    margin-top: 75px;
    margin-right: 5%;
    margin-bottom: auto;
    float: right;
}

.menu-icon{
    width: 100%;
    height: 100%;
}

.footer{
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
}

.icon-wrapper{
    width: 240px;
    height: 100%;
    margin: auto;
}

.proj-thumb{
    width:  200px;
    height: 200px;
    float:left;
}

.contact-icon{
    width: 50px;
    margin: 15px;
    height: 50px;
    float: left;
    opacity: 0.8;
}

.contact-icon:hover {
    width: 58px;
    margin: 11px;
    height: 58px;
    transition: 0.3s;
}

.wrapper{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}


.project-wrapper-left{
    width: 35%;
    margin-left: 15%;
    float: left;
}

.project-wrapper-right{
    width: 35%;
    margin-right: 15%;
    float: left;
}

.alt-project-wrapper{
    width: 80%;
    margin: 10%;
}

.project-image-wrapper{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    overflow: hidden;
}
.project-image{
    width: 100%;
}

.project-title{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
}

.project-title-header{
    font-family: 'Montserrat';
    font-size: 30px;
}

.project-title-text{
    font-family: 'Lato';
    font-size: 24px;
}

.image-overlay{
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #7B9EA8;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s;
}

.project-image-wrapper:hover .project-image{
    transform: scale(1.05);
    transition: 0.3s ease;
}

.project-image-wrapper:hover .image-overlay {
    visibility: visible;
    opacity: 0.9;
  }

@media only screen and (min-width: 999px){
    .alt-project-wrapper{
      display: none;
    }
  }

@media only screen and (max-width: 999px){
    .project-wrapper-left{
        display: none;
    }
    .index-title{
        font-size: 50px;
    }
    .index-text{
        font-size: 30px;
    }
  }

  @media only screen and (max-width: 999px){
    .project-wrapper-right{
        display: none;
    }
  }

.full-image{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 10px;
    object-fit: cover;
}

.full-image-small{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
    margin-bottom: 10px;
    object-fit: cover;
}

.hero-image{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
    margin-bottom: 10px;
    height: 200px;
    object-fit: cover;
}

.small-image{
    width: 58%;
    margin-left: 21%;
    margin-right: 21%;
    margin-top: 40px;
    margin-bottom: 10px;
}

.right-image{
    width: 40%;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 10%;
    float: right;
}

.right-image-smaller{
    width: 20%;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 15%;
    float: right;
}

.right-image-smh{
    width: 40%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 10%;
    float: right;
}

.left-image{
    width: 50%;
    margin-top: 40px;
    margin-bottom: 10px;
    float: left;
}

.about-image{
    height: 400px;
    max-width: 35%;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 14%;
    float: right;
    object-fit: cover;
    overflow: hidden;
}

.left-text{
    width: 40%;
    margin-top: 10px;
    margin-right: 10%;
    float: left;
}

.left-text-smaller{
    width: 50%;
    margin-top: 10px;
    margin-right: 10%;
    float: left;
}

.left-text-about{
    width: 50%;
    margin-top: 10px;
    margin-right: 10%;
    float: left;
    text-align: center;
}

.right-text{
    width: 40%;
    margin-top: 10px;
    margin-left: 10%;
    float: left;
}

.right-text-proj{
    width: 60%;
    margin-top: 0px;
    margin-left: 15px;
    float: left;
}

.clear{
    clear: both;
}
.spacer{
    width: 100%;
    height: 75;
}

.spacer-small{
    width: 100%;
    height: 20;
}

.spacer1{
    width: 100%;
    height: 200px;
}
.spacer2{
    width: 100%;
    height: 30px;
}
.spacer3{
    width: 100%;
    height: 300px;
}

.text-center{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
}

.text-center-about{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
}

.left-center{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
    display: none;
}

.left-center-about{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
    display: none;
}

.small-image-center{
    width: 58%;
    margin-left: 21%;
    margin-right: 21%;
    margin-top: 60px;
    margin-bottom: 0px;
    display: none;
}

#optional{
    display: none;
}

@media only screen and (max-width: 1095px){
    .about-image{
        display: none;
    }
    .left-center-about{
        display: block;
    }
    .text-center-about{
        display: none;
    }
}

@media only screen and (max-width: 820px){
    .left-text{
        display: none;
    }
    .left-text-about{
        display: none;
    }
    .right-text{
        display: none;
    }
    .right-text-proj{
        display: none;
    }
    .left-image{
        display: none;
    }
    .right-image{
        display: none;
    }
    .right-image-smh{
        display: none;
    }
    .left-center{
        display: block;
    }
    .small-image-center{
        display: block;
    }
    .proj-thumb{
        display: none;
    }
}

@media only screen and (max-width: 354px){
    .nav-text{
        font-size: 10px;
    }
    .nav-text-here{
        font-size: 10px;
    }
    .logo{
        font-size: 25px;
    }
    .menu-wrapper{
        float: left;
    }
    .logo-wrapper{
        margin-left: 2%;
    }
    .header{
        height: 70px;
    }
}


@media only screen and (max-width: 500px){
    .menu-wrapper{
        width: 76px;
        margin-right: 2%;
    }
    .project-title-header{
        font-size: 22px;
    }
    .project-title-text{
        font-size: 14px;
    }
    .title{
        font-size: 40px;
    }
    .about-title{
        font-size: 40px;
    }
    .nav-text{
        font-size: 12px;
    }
    .nav-text-here{
        font-size: 12px;
    }
    .about-nav{
        font-size: 12px;
    }
    #about-nav-here{
        font-size: 12px;
    }
    .name-text{
        font-size: 30px;
    }
    #optional{
        display: block;
    }
    .header{
        height: 120px;
    }
  }

  /*SAVE MI  HEART GIRD  LAYOUT*/

.collage1{
    display: grid;
    width:  80%;
    padding-left: 10%;
    grid-template-columns: 1fr 0.5fr 0.25fr 0.5fr;
    grid-template-rows: 0.15fr 0.15fr 0.15fr;
    grid-template-areas: 
        "a6 a6 a2 a2"
        "a1 a1 a2 a2"
        "a5 a5 a2 a2";
    grid-gap: 1rem;
    margin: 0rem;
  }

.collage2{
    display: grid;
    width:  80%;
    padding-left: 10%;
    grid-template-columns: 1fr 0.5fr 0.25fr 0.5fr;
    grid-template-rows: 0.75fr;
    grid-template-areas: 
        "a8 a8 a9 a9";
    grid-gap: 1rem;
    margin: 0rem;
  }

.collage3{
    display: grid;
    width:  80%;
    padding-left: 10%;
    grid-template-columns: 1fr 0.5fr 0.25fr 0.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "a10 a10 a10 a10";
    grid-gap: 1rem;
    margin: 0rem;
  }

  .collage-edc{
    display: grid;
    width:  80%;
    padding-left: 10%;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.6fr 0.3fr 0.15fr;
    grid-template-areas: 
        "brain1 brain1"
        "edc1 edc3"
        "edc2 edc2";
    grid-gap: 1rem;
    margin: 0rem;
  }

  .collage-dtc1{
    display: grid;
    width:  80%;
    padding-left: 10%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr;
    grid-template-areas: 
        "mockup1"
        "mockup2";
    grid-gap: 1rem;
    margin: 0rem;
  }

  .mockup1-s{
    grid-area: mockup1;
  }

  .mockup2-s{
    grid-area: mockup2;
  }

  .collage-dtc2{
    display: grid;
    width:  80%;
    padding-left: 10%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr;
    grid-template-areas: 
        "sketches"
        "cad1"
        "cad2";
    grid-gap: 1rem;
    margin: 0rem;
  }

  .sketches-s{
    grid-area: sketches;
  }

  .cad1-s{
    grid-area: cad1;
  }

  .cad2-s{
    grid-area: cad2;
  }

  .collage-dtr{
    display: grid;
    width:  80%;
    padding-left: 10%;
    grid-template-columns: 0.95fr 0.5fr;
    grid-template-rows: 0.6fr 0.6fr 0.3fr;
    grid-template-areas: 
        "s-board1 s-board1"
        "s-board2 s-board2"
        "dtr1 dtr2";
    grid-gap: 1rem;
    margin: 0rem;
  }

  .collage-dtr-2{
    display: grid;
    width:  80%;
    padding-left: 10%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr;
    grid-template-areas: 
        "s-board"
        "diagram";
    grid-gap: 1rem;
    margin: 0rem;
  }

  .coll1{
    grid-area: s-board;
  }

  .coll2{
    grid-area: diagram;
  }

  .user-journeys{
      grid-area: brain1;
  }

  .brainstorm1{
      grid-area: edc1;
  }
  .brainstorm2{
    grid-area: edc2;
}
.brainstorm3{
    grid-area: edc3;
}

.sb-dtr1{
    grid-area: s-board1;
}

.sb-dtr2{
    grid-area: s-board2;
}

.prototype1{
    grid-area: dtr1;
}
.prototype2{
  grid-area: dtr2;
}
 

section{
    display: flex;
    font-family: 'Arial';
    justify-content: center;
    align-items: center;
}

.chain{
    grid-area: a1;
}

.color-1{
    grid-area: a2;
}

.color-2{
    grid-area: a3;
}

.color-3{
    grid-area: a4;
}

.ekg{
    grid-area: a5;
}

.existing-logo{
    grid-area: a6;
}

.line-1{
    grid-area: a8;
}

.hands-logo{
    grid-area: a9;
}

.final-logo{
    grid-area: a10;
}

.collage-image{
    width: 100%;
    /*object-fit: contain;*/
    object-fit: fill;
}

.collage-image-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.collage-image-overlay{
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e3e3e3;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s;
}

.collage-image-wrapper:hover .collage-image{
    transform: scale(1.05);
    transition: 0.3s ease;
}

.logo-wrapper:hover .logo-image{
    transform: scale(1.05);
    transition: 0.3s ease;
}

.collage-image-wrapper:hover .collage-image-overlay {
    visibility: visible;
    opacity: 0.93;
  }

  .collage-title{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: left;
}

.collage-title-header{
    font-family: 'Montserrat';
    font-size: 20px;
    color: black;
}

.collage-title-text{
    font-family: 'Lato';
    font-size: 16px;
    color: black;
}

@media only screen and (max-width: 1300px){
    .collage-title-header{
        font-size: 18px;
    }
    .collage-title-text{
        font-size: 15px;
    }
}

@media only screen and (max-width: 1150px){
    .collage-title-header{
        font-size: 16px;
    }
    .collage-title-text{
        font-size: 12px;
    }
}

@media only screen and (max-width: 1020px){
    .collage-title-header{
        font-size: 13px;
    }
    .collage-title-text{
        font-size: 11px;
    }
    .collage{
        width:90%;
    }
}

@media only screen and (max-width: 750px){
    .collage-title-header{
        font-size: 7px;;
    }
    .collage-title{
        text-align: center;
    }
    .collage-title-text{
        display: none;
    }
}

.story-wrapper{
    width: 100%;
}

.story{
    display: flex;
    flex-direction: row;
}

.story-pic{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.story-thumbnail{
    display: flex;
    width: 30%;
    float: left;
    padding: 20px;
    object-fit: contain;
}

.story-exerpt{
    display: flex;
    flex-direction: column;
    width: 70%;
    float: left;
    padding: 20px;
    justify-content: space-between;
}

.story:hover{
    background-color: #bae7bd;
    transition: 0.3s;
}

@media only screen and (max-width: 500px){
    .story-thumbnail{
        display: none;
    }
    .story-project-text{
        font-size: 12px;
    }
    .story-exerpt{
        width: 100%;
    }
}

@media only screen and (max-width: 1240px){

    .story-pic{
        width: 100px;
        height: 100px;
    }
    .story-thumbnail{
        width:100px;
        padding-top: 44px;
    }
    .story-exerpt{
        width: 100%;
    }
}

