/*FONTS: 
*/

@font-face {
    font-family: 'Montserrat';
    src: url(./text-styles/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url(./text-styles/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face{
    font-family: 'Ostrich Sans';
    src: url(./text-styles/ostrich-sans-master/OstrichSans-Bold.otf);
}

@font-face{
    font-family: 'Lato';
    src: url(./text-styles/Lato/Lato-Thin.ttf);
}

@font-face{
    font-family: 'Lato Bold';
    src: url(./text-styles/Lato/Lato-Regular.ttf);
}

@font-face{
    font-family: 'Lato Italic';
    src: url(./text-styles/Lato/Lato-ThinItalic.ttf);
}

/*COLORS: 
Text: #272727
Background: #FFFFFF
Main Color: #7B9EA8
Accent: #B0F2B4
*/

body{
    background-color: #FFFFFF;
    color: #272727;
}

/* TEXT 
Logo: .logo
Titles: .title, mark
Text: .text, .subtitle
Caption: .caption
Nav: .nav-text, .nav-text-here
*/

a {
    text-decoration: none;
    color: inherit;
}

mark {
    background-color: #a8ccd6;
    color: inherit;
}

mark:hover {
    background-color: #B0F2B4;
    transition: 0.3s;
}

.logo{
    font-family: 'Ostrich Sans';
    font-size: 30px;
    color: #272727;
}

.title{
    font-family: 'Montserrat';
    font-size: 60px;
    color: #272727;
}

.index-title{
    font-family: 'Montserrat';
    font-size: 70px;
    color: #272727;
    margin-bottom: 0.5em;
}

.subtitle{
    font-family: 'Lato Bold';
    font-size: 26px;
}

.text{
    font-family: 'Lato';
    font-size: 26px;
}

.index-text{
    /*font-family: 'Lato';
    font-size: 26px;*/
    color: #a8ccd6;
    font-family: 'Montserrat Bold';
    font-size: 55px;
    text-align: right;
    margin-top: 0.5rem;
}

.project-text{
    font-family: 'Lato';
    font-size: 25px;
}

figcaption {
    font-family: 'Lato';
    font-size: 16px;
    text-align: center;
    font-style: italic;
}

.caption{
    font-family: 'Lato Italic';
    font-size: 16px;
    text-decoration: none;
}

.nav-text{
    font-family: 'Lato';
    font-size: 18px;
    text-decoration: none;
    color: #0F0F0F;
}

.nav-text-here{
    font-family: 'Lato Italic';
    font-size: 18px;
    text-decoration: none;
    color: #676767;
}


/* CONTEXT DIVS 
Header: .header, .logo-wrapper, .menu-wrapper
Footer: .footer, .icon-wrapper, .contact-icon, .spacer

Baisc Wrapper: .wrapper
Project grid: .project-wrapper-left, .project-wrapper-right, .alt-project-wrapper

Full Text: .text-center
Image left: 
Image right:
Full Image: .full-image

Image/caption: 
*/

.header{
    width: 100%;
    height: 150px;
}

.logo-wrapper{
    width: 80px;
    margin-top: 50px;
    margin-left: 7%;
    margin-bottom: auto;
    float: left;
    text-align: center;
}

.menu-wrapper{
    width: 100px;
    height: 50px;
    margin-top: 50px;
    margin-right: 5%;
    margin-bottom: auto;
    float: right;
}

.menu-icon{
    width: 100%;
    height: 100%;
}

.footer{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
}

.icon-wrapper{
    width: 300px;
    height: 100%;
    margin: auto;
}

.contact-icon{
    width: 60px;
    margin: 20px;
    height: 60px;
    float: left;
    opacity: 0.8;
}

.contact-icon:hover {
    width: 70px;
    margin: 15px;
    height: 70px;
    transition: 0.3s;
}

.wrapper{
    width: 100%;
}

.project-wrapper-left{
    width: 45%;
    margin-left: 5%;
    float: left;
}

.project-wrapper-right{
    width: 45%;
    margin-right: 5%;
    float: left;
}

.alt-project-wrapper{
    width: 80%;
    margin: 10%;
}

.project-image-wrapper{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    overflow: hidden;
}
.project-image{
    width: 100%;
}

.project-title{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
}

.project-title-header{
    font-family: 'Montserrat';
    font-size: 30px;
}

.project-title-text{
    font-family: 'Lato';
    font-size: 18px;
}

.image-overlay{
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #7B9EA8;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s;
}

.project-image-wrapper:hover .project-image{
    transform: scale(1.1);
    transition: 0.3s ease;
}

.project-image-wrapper:hover .image-overlay {
    visibility: visible;
    opacity: 0.5;
  }

@media only screen and (min-width: 999px){
    .alt-project-wrapper{
      display: none;
    }
  }

@media only screen and (max-width: 999px){
    .project-wrapper-left{
        display: none;
    }
    .index-title{
        font-size: 50px;
    }
    .index-text{
        font-size: 30px;
    }
  }

  @media only screen and (max-width: 999px){
    .project-wrapper-right{
        display: none;
    }
  }

.full-image{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 10px;
    height: 58%;
    object-fit: cover;
}

.hero-image{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
    margin-bottom: 10px;
    height: 30%;
    object-fit: cover;
}

.small-image{
    width: 58%;
    margin-left: 21%;
    margin-right: 21%;
    margin-top: 40px;
    margin-bottom: 10px;
}

.right-image{
    width: 50%;
    margin-top: 40px;
    margin-bottom: 10px;
    float: right;
}

.left-image{
    width: 50%;
    margin-top: 40px;
    margin-bottom: 10px;
    float: left;
}

.left-text{
    width: 40%;
    margin-top: 10px;
    margin-right: 10%;
    float: left;
}

.right-text{
    width: 40%;
    margin-top: 10px;
    margin-left: 10%;
    float: left;
}

.clear{
    clear: both;
}
.spacer{
    width: 100%;
    height: 50px;
}

.text-center{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
}


@media only screen and (max-width: 400px){
    .menu-wrapper{
        width: 76px;
        margin-right: 2%;
    }
    .project-title-header{
        font-size: 22px;
    }
    
    .project-title-text{
        font-size: 14px;
    }
  }


